/* Stili generali */
* {
    color: #333;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .elenco-bambini {
    width: 1500px;
    height: 650px;
    max-width: 1000px;
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 30px 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .main-content {
    padding: 100px;
  }
  
  /* Lista bambini */
  .children-list-elenco-bambini {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin; /* Per Firefox */
    scrollbar-color: #888 #f1f1f1; /* Per Firefox */
    margin-top: -60px;
  }
  
  /* Per i browser basati su Webkit (Chrome, Edge, Safari) */
  .children-list-elenco-bambini::-webkit-scrollbar {
    width: 8px;
  }
  
  .children-list-elenco-bambini::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .children-list-elenco-bambini::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  
  .child-item-elenco-bambini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
  }
  
  .child-item-elenco-bambini:hover {
    background-color: rgb(255, 240, 213);
  }
  
  .child-name-elenco-bambini {
    font-weight: bold;
    font-size: 16px;
     
  }

  .child-link {
    color: black; /* O il colore che preferisci */
    text-decoration: none; /* Rimuove la sottolineatura, se non la vuoi */
    display: block; /* Importante! Vedi spiegazione sotto */
}
  
  /* Pulsanti */
  button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    /*transition: background-color 0.3s, transform 0.2s;*/
  }
  
  .add-child-button-elenco-bambini button {
    background-color: green;
    color: white;
    margin-top: 100px;
    width: 100%;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    border: 5px solid black;
  }
  
  .add-child-button-elenco-bambini button:hover {
    background-color: orange;
    transform: scale(1.05);
  }

  .button-text-elenco {
    font-size: 16px;
  }

  .footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }