

/* HomeSpecialista.css */
  
  /* Testo di benvenuto */
  
  .welcome-text {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
    z-index: 2; /* Aggiunto per garantire che il testo sia sopra la background image */
    color: black;
    right: 8%;
  }
  

/* Pulsante "Elenco Completo" */
.button.elenco-completo-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  border: 4px solid black;
  transition: box-shadow 0.2s ease;
}

/* Effetto hover con animazione di pulsazione */
.button.elenco-completo-button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Ombra leggera */
  animation: heartbeat 1.5s ease-in-out infinite;  /* Aggiunta dell'animazione di pulsazione */
}

/* Animazione di pulsazione */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Testo del pulsante */
.button-text {
  font-size: 16px;
  color: white;
}
  
  /* Pulsanti di navigazione (pulsanti sopra a sinistra) */
  /*
  .navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    gap: 10px;
  }
  
  .nav-button, .settings-button, .strumenti-button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin: 0;
    border: 5px solid black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }


.nav-button:hover, .settings-button:hover, .strumenti-button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(4px);  
  }
  
  
  
  .home-button { background-color: #4CAF50; }
  .bambini-button { background-color: rgb(160, 208, 28); }
  .report-button { background-color: #afc61c; }
  .logout-button-home { background-color: #b68723; }
  .settings-button { background-color: #d8b30e; }
  .strumenti-button { background-color: orange; }*/
  


  
/* Logo BeFluent */
.logoTesto-homeS {
  position: absolute;
  top: 200px;           
  left: 500px;           
  width: 100px;        
  width: 1000px;         /* Ingrandisci la larghezza */
  height: auto;         /* Mantieni le proporzioni */
}
  
  
  /* Centrare il contenuto principale (come "Benvenuto dott./ssa") */
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px; /* Distanza dalla parte superiore */
    position: relative; /* Cambia posizione per evitare conflitti */
    z-index: 2;
  }
  
  /* Sezione Elenco Completo */
  .elenco-completo-button {
    margin-top: 20px;
    
  }
  
  