.bambino-container
{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente il contenuto */
    width: 90%;  /* Larghezza reattiva */
    max-width: 800px; /* Limita la larghezza massima */
    margin: 40px auto; /* Centra il contenitore e aggiunge spazio sopra e sotto */
    padding: 20px;
    background-color: #f8f8f8; /* Grigio chiaro per lo sfondo */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}
.titolo-bambino {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 2.5rem; /* Usa rem per una migliore scalabilità */
    font-weight: bold;
    color: black; /* Arancione */
    margin-bottom: 0.5em; /* Spazio sotto il titolo */
    text-align: center; /* Centra il testo */
    transition: all 0.3s ease;
}

.informazioni-bambino
{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;      /* Usa rem per la scalabilità */
    font-weight: bold;
    color: #ff9800; /* Arancione */
    margin-bottom: 1em;    /* Spazio sotto le informazioni */
     text-align: center; /* Centra il testo */
    transition: all 0.3s ease;
    
}


.informazioni-bambino:hover {
    color: green; /* Cambia colore al passaggio del mouse */
    transform: translateY(-5px); /* Leggero movimento verso l'alto */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Ombra più marcata */
}

.informazioni-bambino:hover {
    color: green; /* Cambia colore al passaggio del mouse */
    transform: translateY(-5px); /* Leggero movimento verso l'alto */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Ombra più marcata */
    
}

/* Stili per la tabella */
.bambino-table-container {
    width: 100%; /* Occupa l'intera larghezza del contenitore */
    overflow-x: auto; /* Aggiunge lo scorrimento orizzontale se necessario */
    margin-bottom: 20px; /* Spazio sotto la tabella */
}

.bambino-table {
    width: 100%;
    border-collapse: collapse;
}

.bambino-table th, .bambino-table td {
    padding: 20px 34px;
    text-align: left;
    border: 1px solid #ddd;
}

.bambino-table th {
    background-color: #f4f4f4;
    color: #333; /* Testo scuro per un buon contrasto */
    font-weight: bold; /* Intestazioni in grassetto */
}

.bambino-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Righe pari con sfondo leggermente diverso */
}
.bambino-table tr:hover {
  background-color: #e8f5e9;
}

/* Stili per i pulsanti */
.button-bamb {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px; /* General margin for spacing */
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    white-space: nowrap;
    display: inline-block; /*  Important for consistent styling with Link */
    text-decoration: none; /* Removes underline from Link */
}

/* Specific button styles */
/* Modifica e Elimina */
.modifica, .elimina {
    background-color: #ff9800;  
    
}

.modifica:hover, .elimina:hover {
      background-color: #4CAF50; /* Verde */
      color: white;
}


.assegna-gioco {
    background-color: green; 
}

.assegna-gioco:hover {
  background-color: orange;
}

.aggiungi-report {
    background-color: green; 
}
.aggiungi-report:hover{
  background-color: orange;
}

.pianifica-button {
    background-color: orange; 
    margin-top: 1rem;       
}

.pianifica-button:hover{
    background-color: green;
    color: white;
}

/* Action Button Container */
.azioni-bambino-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 2rem;
}

/* Grouped Buttons Container */
.pulsanti-raggruppati {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50rem;         
}