.titoloTestIniziale {
    position: absolute;
    top: 220px;
    left: 250px;
    width: 1400px;
    text-align: center;
    color: black;
}

.TestInizialeText {
    font-size: 35px;
    font-weight: normal;
    line-height: 1.8;
    margin: 10px 0;
}


.buttonIniziaTest
{
    position: absolute;
    top: 650px;
    left: 800px;
    width: 300px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    font-size: 25px;
    border-radius: 50px;
}

.buttonIniziaTest:hover {
    background-color: orange;
    scale: 1.1;
}