/* Reset generale */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    background-color: #ffffff;
  }
  
  /* Logo: rimane a destra, posizionato in maniera assoluta */
  .logo-registrazione {
    position: absolute;
    top: 10px;
    right: 900px;
    width: 100px;  
  }

  .logoTesto-registrazione
  {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 350px;  
  }
  
  /* Contenitore principale per il resto degli elementi (titolo, form e pulsante) */
  /* Spostato verso l'alto per dare maggiore importanza agli elementi principali */
  .registrazione-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -50px;  /* Regola questo valore per spostare il contenuto verso l'alto */
    padding-top: 20px;
  }
  
  /* Titolo della pagina */
  h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form di registrazione */
  .registrazione-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #000000;
    margin: 0 auto;
  }
  
  /* Disposizione a due colonne per le righe del form */
  .form-row {
    display: flex;
    gap: 80px;
    margin-bottom: 30px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #333;
    text-align: left;
    padding: 20px;
    font-size: 20px;
  }
  
  /* Stili per gli input */
  input {
    padding: 12px;
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: 16px;
    margin-top: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  /* Pulsante di submit */
  button {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Pulsante "Torna Indietro" */
  .back-button {
    margin-top: 20px;
    background: #000000;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
  }

  .pulsanteRegistratiSpecialista
  {
    margin-top: 20px;
    background: linear-gradient(to right, orange, green);
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
  }
  input {
    padding: 12px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    font-size: 16px;
    margin-top: 5px;
    background-color: rgb(197, 197, 197);
    color: #000000;
  }

  input::placeholder {
    color: #000000; /* Colore del testo placeholder */
}


  